<section>
    <main class="login">
        <article class="login-main">
            <div class="app-phone ">
                <img id="screenshot1" #screenshot1 src="assets/images/screenshot1.png" alt="">
                <img id="screenshot2" #screenshot2 src="assets/images/screenshot2.png" alt="">
                <img id="screenshot3" #screenshot3 src="assets/images/screenshot3.png" alt="">
            </div>
            <!-- Login Container Starts-->
            <div class="login-container">
                <!-- First Login Area Starts-->
                <div class="login-signin-container">
                    <div class="login-logo">
                        <img src="/assets/images/instagram-script.png" alt="welcome instagram">
                    </div>
                    <div class="login-signin">
                        <form action="" class="login-form">
                            <div class="username"> <label><span>Telefon numarası, kullanıcı adı veya e-posta</span>
                                    <input type="text"> </label></div>
                            <div class="password"> <label><span>Şifre</span> <input type="password"> </label></div>
                            <div class="login-button"><button type="submit">Giriş Yap</button></div>
                            <div class="or-text">
                                <div class="or-text-left"></div>
                                <div class="or-text-mid">YA DA</div>
                                <div class="or-text-rigth"></div>
                            </div>
                            <div class="facebook-signin">
                                <button class="facebook-button">
                                    <span class="facebook-logo"></span>
                                    <span class="facebook-button-text">Facebook ile Giriş Yap</span>
                                </button>
                            </div>
                            <a class="forget-password" href="">
                                <span>Şifreni mi unuttun?</span>
                            </a>
                        </form>
                    </div>
                </div>
                <!-- First Login Area Ends-->
                <!-- Second Login Area Starts-->
                <div class="login-signup-container">
                    <div class="sign-up">
                        <span>Hesabın yok mu? </span>
                        <a href="">
                            <span class="signup-text">Kaydol</span>
                        </a>
                    </div>
                </div>
                <!-- Second Login Area Starts-->
                <!-- Third Login Area Starts-->
                <div class="login-app-pr-container">
                    <div class="app-pr">
                        <span>Uygulamayı İndir.</span>
                        <div class="store-links">
                            <a href="" class="play-store">
                                <img src="assets/images/googleplaystore.png" alt="" srcset="">
                            </a>
                            <a href="">
                                <img src="assets/images/microsoftstore.png" alt="" srcset="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- Third Login Area Starts-->
            </div>
            <!-- Login Container Ends-->
        </article>
    </main>
</section>